body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animated {
  flex-grow: 1;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
}

.ball {
  animation-name: ball;
}

.rocket {
  padding-right: 0;
}

@keyframes ball {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(3rem);
  }
}

header {
  transition: background-image 1.5s ease-in-out;
  background-position: 50% 45%;
  background-size: cover;
}

.header-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-ul {
  list-style: none;
}

.nav-ul > li {
  display: inline-block;
  padding: .5rem;
}

.nav-ul > li > a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 .15rem black;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.header-button {
  padding: .6rem 2rem;
  margin: .6rem .6rem .6rem 0;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

.header-button:hover {
  background-color: rgb(71, 71, 229);
  border-color: rgb(71, 71, 229);
}

.news-button {
  color: black;
  border-color: rgb(211, 211, 211);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s ease-in-out;
}

.news-button:hover {
  color: white;
  background-color: rgb(71, 71, 229);
  border-color: rgb(71, 71, 229);
}

.big-text {
  font-size: 6.5vw;
  font-weight: bold;
  padding-left: 3rem;
}

.header-text {
  padding-top: 15rem;
  color: white;
  text-shadow: 0 0 .3rem black;
}

.news-block {
  padding: 3rem;
  padding-right: 0;
  background-color: white;
}

.news-card-block {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.join-class {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 100px 3rem 100px 3rem;
  background: rgb(17,28,80);
  background: linear-gradient(90deg, rgba(17,28,80,1) 0%, rgba(42,190,186,1) 100%);
}

.join-text-blocks {
  width: 500px;
}

.large-header {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: white;
}

.join-text {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.join-element {
  opacity: 0;
  transform: translateY(-20%);
}

.form-card {
  background-color: white;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 500px;
}

input {
  outline: none;
}

button {
  outline: none;
}

.join-form-input {
  padding: 12px;
  font-size: 24px;
  margin-bottom: 10px;
  border: 1px solid rgb(173, 173, 173);
}

.join-form-btn {
  padding: 10px;
  border: 1px solid rgb(173, 173, 173);
  text-transform: uppercase;
  background-color: transparent;
  color: grey;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s ease-in-out;
}

.join-form-btn:hover {
  color: white;
  background-color: rgb(71, 71, 229);
  border-color: rgb(71, 71, 229);
}

.join-form-btn:focus {
  color: white;
  background-color: rgb(71, 71, 229);
  border-color: rgb(71, 71, 229);
}

.privacy-policy {
  margin-top: 75px;
  font-size: 20px;
  color: grey;
}

.privacy-policy > span > a {
  color: black;
  text-decoration: none;
}

.shop-block {
  display: flex;
  flex-direction: column;
  padding: 80px 0 180px;
  color: white;
  text-transform: uppercase;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

.shop-element {
  opacity: 0;
  transform: translateX(-20%);
  text-shadow: 0 0 .3rem black;
}

.showed-element {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}

.shop-text {
  font-size: 2vw;
  padding-left: 3rem;
}

.shop-link {
  color: white;
  text-decoration: none;
}

.footer-block {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: rgb(13, 24, 68);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list > li > a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-2 {
  margin-left: 100px;
}

.footer-nav-1 > li > a {
  font-size: 27px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.footer-nav-2 > li > a {
  font-size: 19px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.copyright-block {
  padding-top: 25px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.article-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  width: 20%;
  border: 1px solid rgb(211, 211, 211);
}

.article-heading {
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  flex-grow: 1;
}

.article-image {
  width: 100%;
  height: 10vw;
  transition: 0.2s;
}

.article-image:hover {
  transform: scale(1.03);
}

.article-tag {
  padding: 1rem;
}

.article-tag-btn {
  padding: .3rem;
  border: 1px solid rgb(211, 211, 211);
  background-color: transparent;
  color: rgb(71, 71, 229);
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
}

.article-tag-btn:hover {
  color: rgb(229, 71, 71);
}

.article-date {
  padding: 1rem;
  padding-top: 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}