body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/940586530515504757/CDDE77CB810474E1C07B945E40AE4713141AFD76/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
  background-position: 50% 50%;
  background-size: cover;
}

.header-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-ul {
  list-style: none;
}

.nav-ul > li {
  display: inline-block;
  padding: .5rem;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: blueviolet;
}

.header-button {
  padding: .6rem 2rem;
  margin: .6rem .6rem;
  border: 1px solid white;
  background-color: rgba(173, 173, 173, 0.144);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.big-text {
  font-size: 6.5vw;
  font-weight: bold;
  padding-left: 3rem;
}

.header-text {
  padding-top: 15rem;
  color: white;
}

.news-block {
  padding: 3rem;
  padding-right: 0;
  background-color: chocolate;
}

.news-card-block {
  margin-bottom: 2rem;
}

.join-class {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 100px 3rem 100px 3rem;
  background-color: darkslategray;
}

.join-text-blocks {
  width: 500px;
}

.large-header {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: white;
}

.join-text {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.join-element {
  opacity: 0;
  transform: translateX(-20%);
}

.form-card {
  background-color: white;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 500px;
}

.join-form-input {
  padding: 12px;
  font-size: 24px;
  margin-bottom: 10px;
}

.join-form-btn {
  padding: 10px;
  border: 1px solid rgb(173, 173, 173);
  text-transform: uppercase;
  background-color: transparent;
  color: grey;
  font-size: 18px;
}

.privacy-policy {
  margin-top: 75px;
  font-size: 20px;
  color: grey;
}

.privacy-policy > span > a {
  color: black;
  text-decoration: none;
}

.shop-block {
  display: flex;
  flex-direction: column;
  padding: 80px 0 80px;
  color: white;
  text-transform: uppercase;
  background-image: url('https://assets-global.website-files.com/5f9bee46b9797ea7bdf87204/5f9bee46b9797e5914f8736e_pattern_001.jpg');
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

.shop-element {
  opacity: 0;
  transform: translateX(-20%);
}

.showed-element {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}

.shop-text {
  font-size: 24px;
  margin-bottom: 100px;
  padding-left: 3rem;
}

.footer-block {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: darkslategray;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-nav-2 {
  margin-left: 100px;
}

.footer-nav-1 > li > a {
  font-size: 27px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.footer-nav-2 > li > a {
  font-size: 19px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.copyright-block {
  padding-top: 25px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}